.idea/*
.gradle/*
gradle/*
build/*
build.gradle
gradlew
gradlew.bat
import-summary.txt
local.properties
gradle.properties
settings.gradle
vr2a_google_asr.iml
app/build/*
app/app.iml
app/build.gradle
app/src/main/java/com/wistron/facemodule/nt*.txt
*.iml
app/.externalNativeBuild/*
